body {
  background: #A9A9A9;
}
.head1 {
  padding-bottom: 0;
}
.head3 {
  font-style: italic;
}
.byline {
  font-size: 12px;
  color: #EEE8AA;
  text-transform: uppercase;
}
.headline a {
  font-size: 25px;
  color: #BF5700;
}
.puli {
  background-color: #D3D3D3;
  padding: 15px;
}
.head3 {
  border-bottom-style: solid;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}
